*{
    font-family: 'Courier New', Courier, monospace;
}

h1, h3{
    color: red;
}

#login{
    background-color: white;
}

#signup{
    background-color: red;
    color: white;
}

.upvote{
    background-color: green;
    color: aliceblue;
}

/* Descendant Selectors */

p a{
    color: green;
}

p + h3{
    text-decoration: underline;
}

nav ul li a{
    color: pink;
}

.upvote + button{
    background-color: cornflowerblue;
    color: darkblue;
}

div > input{
    background-color: aliceblue;
}

input[type = "text"]{
    color: cadetblue;
}

input[type = "password"]{
    color: yellowgreen;
}

input[type]{
    background-color: aliceblue;
}

button:hover{
    background-color: black;
    color: white;
}

h3:hover{
    text-decoration: none;
}

button:active{
    background-color: blueviolet;
}

p:active{
    color: green;
    font-weight: 600;
}

input[type="radio"]:checked + label{
    color: red;
    font-weight: 600;
}

div:nth-of-type(2n){
    background-color: antiquewhite;
}

h1::first-letter{
    color: chocolate;
}

p::selection{
    background-color: lemonchiffon;
}